

.ql-container {
    display: none;
}

.ql-snow .ql-editor.ql-blank::before {
    content: none;
}

.response-textarea .ql-container {
    display: block;
}

.response-textarea .ql-editor {
    min-height: 0;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0;
}

.loading-spinner {
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
}
